@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background: black;
}
 
::-webkit-scrollbar-thumb {
    background: #81818123;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #81818138;
}

.placeholder-font-custom::placeholder {
    @apply font-sometype-mono;
}